@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-nav-menu {
  position: relative;
  float: right;
}
.w--nav-menu-open {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}



.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}
.w-nav-brand:hover {
  text-decoration: none;
  color: #333333;
}
.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.w-nav-link:hover {
  text-decoration: none;
  color: #222222;
}
.w-nav-link.w--current {
  color: #0082f3;
}
.w-nav-menu {
  position: relative;
  float: right;
}
.w--nav-menu-open {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}
.w--nav-link-open {
  display: block;
  position: relative;
}
.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.w-nav-overlay .w--nav-menu-open {
  top: 0;
}
.navbar .w-nav-overlay {
  width: auto;
}
.navbar .w-nav-overlay,
.navbar .w--nav-menu-open {
  right: auto;
  z-index: 1;
  top: 0;
}

.w-nav-button.w--open {
  background-color: #c8c8c8;
  color: white;
}
.navbar .w-nav-menu {
  display: none;
}
.navbar .w-nav-button {
  display: block;
}

















/*
.navbar:after {
  clear: both;
}
*/

.nav_button:hover {
  background-color: #4a4a4a;
  color: white;
}

.hideContent {
  height: 31px;
}

.fa-check-circle:hover {
  color: #ff763d;
  opacity: 1 !important;
}





.menu_close {
  margin-top: 15px;
  margin-left: -140px;
}

.card_container.active {
  opacity: 1;
}

.card_icons:hover {
  opacity: 1;
}

.card_tag_remove:hover {
  opacity: 1;
}

.add_card:hover {
  opacity: 1;
}


.card_tag_hotkey {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-weight: 700;
}
.arrow_left {
  margin-top: -170px;
}
.arrow_right {
  margin-top: -170px;
}
.card_tweet {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  display: block;
  width: 500px;
  height: 250px;
  margin-top: -200px;
  margin-left: -250px;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(243, 243, 243, 0.49) 0px 0px 10px 0px;
}
.card_tweet_handle_text {
  display: inline-block;
  font-family: Lato, sans-serif;
}
.card_tweet_message_text {
  margin-top: 20px;
  font-family: Lato, sans-serif;
  color: #cbcbcb;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}
.text_sentiment_positive {
  color: #3aac00;
  font-size: 30px;
  font-weight: 700;
}
.text_brand {
  color: #1a1a1a;
  font-weight: 700;
}
.text_purchase_intent {
  color: #0096de;
  font-style: italic;
  text-decoration: none;
}
.arrow_up {
  margin-top: 50px;
}
.arrow_down {
  margin-top: 240px;
}